__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
CineCompassBackend/app/database/movies.db

*.iml
.gradle
/local.properties
.idea/
.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/.idea/
